.botao {
  height: 6rem;
  width: 6rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: white;
}

.botao:hover {
  background-color: aquamarine;
}

@media (max-width: 768px) {
  .botao:hover {
    background-color: white;
  }

  .botao:active {
    background-color: aquamarine;
  }
}
